@import "macchiato.css";

* {
    color: @lavender;
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 18px;
    font-weight: bold;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: @text;
    margin: 5px 5px;
}

#workspaces {
    border-radius: 0.5rem;
    margin: 4px;
    background-color: @surface0;
    margin-left: 1rem;
}

#workspaces button {
    color: @base;
    border-radius: 0.5rem;
    padding: 0.2rem;
}

#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @mauve;
    border-radius: 0.5rem;
}

#pulseaudio,
#custom-music,
#tray,
#backlight,
#network,
#clock,
#battery,
#memory,
#cpu,
#custom-lock,
#custom-power {
    background-color: @surface0;
    padding: 0.3rem 0.8rem;
    margin: 5px 5px;
}

#clock {
    color: @teal;
    border-radius: 0.5rem;
}

#memory {
    color: @teal;
}

#cpu {
    color: @teal;
    border-radius: 0.5rem 0 0 0.5rem;
}

#network {
    color: @green;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#backlight {
    color: @yellow;
}

#pulseaudio {
    color: @maroon;
}

#custom-lock {
    border-radius: 0.5rem 0px 0px 0.5rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 0.5rem 0.5rem 0px;
    color: @red;
}

#tray {
    margin-right: 1rem;
    border-radius: 1rem;
}
