configuration {
    modi:                   "drun,run,window";
    show-icons:             true;
    drun-display-format:    "{name}";
    terminal:               "ghostty";
    hover-select:           true;
    me-select-entry:        "";
    me-accept-entry:        "MousePrimary";
}

@theme "gruvbox"
