window {
    margin: 0px;
    background-color: #282828;
    border-radius: 0;
    border: 2px solid #fabd2f;
}

#input {
    margin: 5px;
    padding: 5px;
    border: none;
    color: #ebdbb2;
    background-color: #3c3836;
    border-radius: 0;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #282828;
    border-radius: 0;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #282828;
    border-radius: 0;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #ebdbb2;
}

#entry:selected {
    background-color: #458588;
    color: #282828;
    border-radius: 0;
}

#entry image {
    margin-right: 5px;
}
